<section>
  <ion-content style="margin-bottom:80px" scrollbar-y="false">
    <ion-spinner class="spinner-royal" ng-if="!profile.username" icon="ripple" style="margin:45%;float:left"></ion-spinner>
    <div ng-if="profile.username">
      <div class="row">
        <div class="col" style="text-align:center"><img src="https://robohash.org/P3O.png?set=set4&size=150x150"></div>
      </div>
      <div class="row row-center">
        <div class="col" style="text-align:center"><h2>{{profile.first_name}} {{profile.last_name}}</h2></div>
      </div>
      <div class="list list-inset">
        <div class="item item-divider">{{'TXT.USER_INFO'|translate}}</div>
        <div class="item"><i class="icon ion-android-call royal padding"></i>{{profile.phone}}</div>
        <div class="item"><i class="icon ion-email royal padding"></i>{{profile.email}}</div>
        <div class="item"><i class="icon ion-paper-airplane royal padding"></i>{{profile.address}}</div>
        <div class="item item-divider">{{'TXT.SETTINGS'|translate}}</div>
        <div class="item"><i class="icon ion-earth royal padding"></i>
          <select ng-model="profile.language" style="border:none;height:30px" ng-change="changeLanguage(profile.language)">
            <option value="en">English</option>
            <option value="vi">Tiếng Việt</option>
          </select>
        </div>
        <button class="button button-block button-assertive" ng-click="logOut()">{{'BUTTON.LOGOUT' | translate}}</button>
      </div>
    </div>



  </ion-content>

</section>
